.money-income {
  font-size: 1.2em;
  display: none;
  font-weight: bold;
  color: #3c763d;
}

.income-animation-enter {
  opacity: 1;
  display: inline-block !important;
  position: absolute;
}

.income-animation-enter.income-animation-enter-active {
  display: inline-block;
  opacity: 0;
  transform: translate(0, -25px);
  -webkit-transform: translate(0, -25px);
  -o-transform: translate(0, -25px);
  -moz-transform: translate(0, -25px);
  transition: all 750ms ease-out;
}
