.tweetfeed-enter {
  opacity: 0.01;
}

.tweetfeed-enter.tweetfeed-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.tweetfeed-leave {
  opacity: 1;
}

.tweetfeed-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
