.game-icon::before {
  background: #2C3E50;
  padding: 0.2em;
  border-radius: 50%;
  color: #3498DB;
}

.game-icon::hover {
  text-decoration: none;
}

.game-icon.game-icon-2x {
  font-size: 2em;
}

.game-icon.game-icon-4x {
  font-size: 4em;
}

.game-icon.game-icon-6x {
  font-size: 6em;
}

.game-icon.game-icon-8x {
  font-size: 8em;
}

.game-icon.game-icon-green::before {
  color: #A1B56C;
}

.game-icon.game-icon-red::before {
  color: #E74C3C;
}

.game-icon.game-icon-yellow::before {
  color: #FFCC66;
}

.game-icon.game-icon-purple::before {
  color: #9B59B6;
}

.game-icon.game-icon-cyan::before {
  color: #66CCCC;
}

.game-icon.game-icon-light-green::before {
  color: #A6E22E;
}
